<app-header [formularioValido1]="formularioValido1" [formularioValido2]="formularioValido2" [formularioValido3]="formularioValido3" [index]="index" (siguiente)="slide($event)">
</app-header>

<ion-content>
    <ion-slides>

        <ion-slide>
            <app-datos-config (valido)="formularioValido1 = $event" style="width: 90%;"></app-datos-config>
        </ion-slide>

        <ion-slide>
            <app-combustible (valido2)="formularioValido2 = $event"></app-combustible>
        </ion-slide>

        <ion-slide>
            <app-centro-gravedad (valido3)="formularioValido3 = $event" style="width: 90%;"></app-centro-gravedad>
        </ion-slide>

        <ion-slide>
            <app-pallets></app-pallets>
        </ion-slide>

        <!-- <ion-slide>
            <app-config-pallets></app-config-pallets>
        </ion-slide> -->

    </ion-slides>
</ion-content>